<div class="container mt-5 p-5 shadow-sm bg-light">
  <ul class="list-group">
    <% @restaurants.each do |restaurant| %>
    <li class="list-group-item list-group-item-light">
      <%= link_to restaurant.name, restaurant_path(restaurant), class: "btn btn-outline-dark" %>
    </li>
    <% end %>
  </ul>
  <%= link_to "Create", new_restaurant_path, class: "btn btn-primary mt-5" %>
</div>


